
*.lock
*.BCS
*.db
*.emat
*.err
*.esav
*.full
*.ldhi
*.log
*.osav
*.r001
*.rdb
*.rst
*.stat
spherical_suspension/output/output.txt
spherical_suspension/__pycache__/config.cpython-35.pyc
spherical_suspension/output/bulk.txt
*.txt
